.work-group.js-scroll(data-color="#1D4287" data-expanded="false")
  header.work-group-header
    h2.work-group-name(data-name="BlueShore") <span>BlueShore Financial</span>
    include ../icons/add-icon.pug
  .work-group-content
    .work-group-info
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading When
          p.work-group-info-value Sep 2018 - Dec 2018
        .work-group-info-block
          h3.work-group-info-heading Role
          p.work-group-info-value Developer Co-op
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading Website
          p.work-group-info-value
            a(href="https://www.blueshorefinancial.com/" target="_blank" rel="noopener") blueshorefinancial.com
    .work-group-body
      h3.work-group-info-heading Highlights
      ul.work-group-highlights
        li.work-group-highlight Worked on a variety of tools intended to improve the efficiency of the team/department/company, including tools to easier process data outputs, a tool to better visualize tax workflows, and a tool to provide accurate, but anonymous, data for logistical purposes
        li.work-group-highlight Worked with C#, HTML/CSS, JS (Vanilla, Knockback), ASP.NET, Unity
