.work-group.js-scroll(data-color="#75cac3" data-expanded="false")
  header.work-group-header
    h2.work-group-name(data-name="ElasticPath") <span>ElasticPath Software</span>
    include ../icons/add-icon.pug
  .work-group-content
    .work-group-info
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading When
          p.work-group-info-value Jan 2019 - May 2019
        .work-group-info-block
          h3.work-group-info-heading Role
          p.work-group-info-value Student Software Developer
      .work-group-info-row
        .work-group-info-block
          h3.work-group-info-heading Website
          p.work-group-info-value
            a(href="https://www.elasticpath.com/" target="_blank" rel="noopener") elasticpath.com
    .work-group-body
      h3.work-group-info-heading Highlights
      ul.work-group-highlights
        li.work-group-highlight Worked with Elastic Path as part of BCIT's Industry Learning Project courses (COMP 3900/4900)
        li.work-group-highlight Main duties included acting in a project manager role, spearheading documentation and organization
        li.work-group-highlight Major member of the development and implementation of a guided tutorial for an Elastic Path in-house application
      