.work-group.js-scroll(data-color="#28ABE1" data-expanded="false")
    header.work-group-header
      h2.work-group-name(data-name="Grow") <span>Grow</span>
      include ../icons/add-icon.pug
    .work-group-content
      .work-group-info
        .work-group-info-row
          .work-group-info-block
            h3.work-group-info-heading When
            p.work-group-info-value May 2018 - Aug 2018
          .work-group-info-block
            h3.work-group-info-heading Role
            p.work-group-info-value Junior Software Engineer (Co-op)
        .work-group-info-row
          .work-group-info-block
            h3.work-group-info-heading Website
            p.work-group-info-value
              a(href="https://www.poweredbygrow.com" target="_blank" rel="noopener") poweredbygrow.com
      .work-group-body
        h3.work-group-info-heading Highlights
        ul.work-group-highlights
          li.work-group-highlight Daily duties ranged from bug-fixes, to minor, and major, feature implementation
          li.work-group-highlight Workflow followed a two week sprint, with daily stand-ups over Slack, and progress updating on Jira
          li.work-group-highlight Work involved communication with all parts of Grow's team, including backend, QA, and product design
          li.work-group-highlight Technologies Used Daily: React, React Redux, node, Yarn, Git, GitLab, GitHub, Visual Studio Code, Postman, SourceTree, OSX Terminal, Slack
