head
  meta(charset='utf-8')
  title Jeffery Wasty
  meta(name='description' content='Jeffery Wasty is a software engineer based in Vancouver.')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='theme-color' content='#000000')
  link(href='./styles/index.scss' rel='stylesheet')
  
  include ./icons/favicon.pug
