section.intro
  .intro-wrapper.common-wrapper
    h1.intro-heading.js-scroll Hello! My name is Jeffery Wasty.
    p.intro-subheading.js-scroll
      | I’m a software engineer based in Vancouver.
      | I build (and sometimes design) simple, fast, useful, websites and apps.
  .intro-scroll-indicator
    .intro-scroll-indicator-text Scroll
    .intro-scroll-indicator-line
