section.projects
  .projects-wrapper.common-wrapper
    header.projects-header
      h2.common-section-title 02. School Projects

    .projects-list
      .projects-box.js-scroll(data-link="https://github.com/Jeffery-Wasty/AircraftImageClassification")
        .projects-info
          h3.projects-name Aircraft Image Classification
          p.projects-desc A project created with the help of Spexi Geospatial as an exploration of the application of machine learning to aircraft defect recognition. 
          ul.projects-tech-list
            li.projects-tech-list-item Python
          div.projects-links
            a.projects-links-link(href="https://github.com/Jeffery-Wasty/AircraftImageClassification" rel="noopener" target="_blank") 
              include ./icons/gh-icon.pug
              span See GitHub
        .projects-img.projects-box--sunset
          img.preview-img(load="lazy" alt="Jeff's smiling face." src="./img/AICVisual-smaller.jpg")

      .projects-box.js-scroll(data-link="https://github.com/Jeffery-Wasty/Abalone-react")
        .projects-info
          h3.projects-name Abalone
          p.projects-desc Agent designed to win Abalone, a game about pushing marbles. Created as part of an Introduction to AI course, over the course of 8 weeks. Project is divided into React UI and Java backend.
          ul.projects-tech-list
            li.projects-tech-list-item React
            li.projects-tech-list-item Java
          div.projects-links
            a.projects-links-link(href="https://github.com/Jeffery-Wasty/Abalone-react" rel="noopener" target="_blank") 
              include ./icons/gh-icon.pug
              span See GitHub
        .projects-img.projects-box--sunset
          img.preview-img(load="lazy" alt="Jeff's smiling face." src="./img/AbaloneClientVisual-smaller.jpg")

      .projects-box.js-scroll(data-link="https://github.com/Jeffery-Wasty/KnowledgeBase")
        .projects-info
          h3.projects-name Knowledge Base
          p.projects-desc A "facebook-like" website to connect lovers of web development. Result of a 6-week project, aimed at learning MVC. 
          ul.projects-tech-list
            li.projects-tech-list-item Node.js
            li.projects-tech-list-item Express
            li.projects-tech-list-item HTML
            li.projects-tech-list-item CSS
            li.projects-tech-list-item MongoDB
          div.projects-links
            a.projects-links-link(href="https://github.com/Jeffery-Wasty/KnowledgeBase" rel="noopener" target="_blank") 
              include ./icons/gh-icon.pug
              span See GitHub
        .projects-img.projects-box--sunset
          img.preview-img(load="lazy" alt="Jeff's smiling face." src="./img/KnowledgeBaseVisual-smaller.jpg")