section.work
  .work-wrapper.common-wrapper
    header.work-header
      h2.common-section-title 01. Work Experience
    .work-groups#workAccordion
      include ./work/elasticpath.pug
      include ./work/blueshore.pug
      include ./work/grow.pug
      
        
